<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RYM Analysis Dashboard</title>
</head>
<body>
    <h1>Bienvenido a RYM Analysis</h1>
    
    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Sube tu archivo CSV para poblar/fusionar datos</h2>
    <form action="{{ url_for('main.upload_csv') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Cargar Archivo</button>
    </form>
</body>
</html>
